// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// variables
$header-color: darken(gray, 15);
$main-shadow: 0px 3px 5px gray;
$inner-shadow: inset 0px -2px 5px gray;

// mixins
@mixin header-font{
  color: $header-color;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: $main-shadow;
}

// styles

:root{
  font-size: 10px;
}
body{
  font-size: 2rem;
  font-family: "Futura", sans-serif;
  background-color: darken(white, 5);
  text-align: center;
  color: gray;
}
header{
  font-family: 'Pacifico', cursive;
  font-size: 5.5rem;
  color: white;
  background-image: url("../assets/images/city-scape.jpg");
  background-size: cover;
  padding: 1.5rem 0;
  box-shadow: $main-shadow;
  h1{
    padding: inherit;
    text-shadow: $main-shadow;
  }
  span{
    color: aqua;
    font-size: 7rem;
  }
}
nav{
  background-color: lightgray;
  color: $header-color;
  box-shadow: $main-shadow,
              $inner-shadow;
  width: 7rem;
  margin: 0 auto;
  padding: .5rem 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.info-box{
  >*{
    padding: 1rem 0;
  }
  h1{
    @include header-font;
  }
  .focus-box{
    background-color: white;
    border-radius: 1rem;
    box-shadow: $main-shadow,
                $inner-shadow;
    margin: 0 2rem;
  }
  img{
    width: 80%;
    height: auto;
    border-radius: 1rem;
    margin-top: 1rem;
  }
}
